@page "/books"
@using BookStore.Books
@using BookStore.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization
@using Polly
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@inject IStringLocalizer<BookStoreResource> Ml

<h3>"@Ml["Books"]"</h3>


@if (Loading)
{
    <span>Loading...</span>
}
else
{
    <Syncfusion.Blazor.Grids.SfGrid DataSource="@BookList" AllowPaging="true" Toolbar="@(new string[] {"Add", "Edit" ,"Delete","Update","Cancel" })">
        <GridEvents OnActionBegin="ActionBeginHandler" TValue="BookDto"></GridEvents>
        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
            <Template>
                @{
                    var book = (context as BookDto);
                    <div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <SfTextBox @bind-Value="@book.Name" Placeholder="@Ml["Name"]" FloatLabelType='FloatLabelType.Auto' />
                            </div>
                            <div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <SfNumericTextBox @bind-Value="@book.Price"></SfNumericTextBox>
                            </div>

                            <div class="form-group col-md-12">
                                <SfDatePicker @bind-Value="@book.ReleaseDate"></SfDatePicker>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <SfDropDownList TValue="string" TItem="BookType" Placeholder="@Ml["Select Book Type"]" DataSource="@TypeLists">
                                    <DropDownListFieldSettings Value="ID" Text="TypeName"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="BookType" ValueChange="RenderComponent"></DropDownListEvents>
                                    
                                    <div id="component-container">
                                        @dynamicComponent
                                    </div>
                                    
                                </SfDropDownList>
                                
                            </div>

                        </div>
                        <div class="form-row">
                            
                        </div>
                    </div>
                  
                }
                
            </Template>
        </GridEditSettings>
        <GridPageSettings PageSizes="true" PageSize="10"></GridPageSettings>

        <GridColumns>
            <GridColumn Field="@nameof(BookDto.Id)" HeaderText="ID" IsPrimaryKey="true" AllowAdding="false" AllowEditing="false"></GridColumn>
            <GridColumn Field="@nameof(BookDto.Name)" HeaderText="@Ml["Name"]" />
            <GridColumn Field="@nameof(BookDto.Price)" HeaderText="@Ml["Price"]" />
            <GridColumn Field="@nameof(BookDto.ReleaseDate)" HeaderText="@Ml["ReleaseDate"]" EditType="EditType.DatePickerEdit" Type="ColumnType.Date" Format="d" DefaultValue="@(DateTime.Now)" />
        </GridColumns>
    </Syncfusion.Blazor.Grids.SfGrid>

}

@code {

    public DateTime? DateValue { get; set; } = DateTime.Today;
    
}
