@page "/books"
@using BookStore.Books
@using BookStore.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization
@using Polly
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Calendars
@inject IStringLocalizer<BookStoreResource> Ml

<h3>"@Ml["Books"]"</h3>


@if (Loading)
{
    <span>Loading...</span>
}
else
{

    <Syncfusion.Blazor.Grids.SfGrid ID="Grid" @ref="Grid" DataSource="@BookList" AllowPaging="true" Toolbar="@ToolbarItems">
        <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
        <GridPageSettings PageSizes="true" PageSize="10"></GridPageSettings>
        <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="BookDto"></GridEvents>
        <GridColumns>
            <GridColumn Field="@nameof(BookDto.Id)" HeaderText="ID" IsPrimaryKey="true" AllowAdding="false" AllowEditing="false"></GridColumn>
            <GridColumn Field="@nameof(BookDto.Name)" HeaderText="@Ml["Name"]" />
            <GridColumn Field="@nameof(BookDto.Price)" HeaderText="@Ml["Price"]" />
            <GridColumn Field="@nameof(BookDto.ReleaseDate)" HeaderText="@Ml["ReleaseDate"]" EditType="EditType.DatePickerEdit" Type="ColumnType.Date" Format="d" DefaultValue="@(DateTime.Now)"/>
         </GridColumns>
    </Syncfusion.Blazor.Grids.SfGrid>

}

@code{
    
    public DateTime? dateValue{get;set;} = DateTime.Today;
}
